    body{
        margin: 0;
        padding: 50px 0px;
        background-color: #292f2a;
        background-image: url(img/green.jpg);
    }
    button.clear{
        background: #119521;
        color: black;
    }
    table{
        background: black;
        padding: 7px 5px;
        border: 6px solid black;
        text-align: center;
        padding-bottom: 0px;
        box-shadow: 0px 0px 27px #0d5569;
        border-radius: 10px;
        margin-top: 90px;
    }
    button.equal{
        width: 88%;
        background: #139011;
        color: black;
    }
    button.equal:hover{
        background: #4e471e;
    }
    input[type="text"]{
        width: 450px;
        height:81px;
        border: 1px solid #000;
        padding: 10px 20px;
        font-size: 29px;
        background: rgb(160, 227, 173);
        font-weight: bold;
        margin-bottom: 25px;
        font-family: cursive;
        margin-top: #dedede;
        border-bottom: 2px solid #bd981e;
        color: black;
    }
    h2{
        color: #139011;
        background-color: #000;
        margin: 0px;
        text-align: center;
        text-decoration:underline ;
        text-transform: uppercase;
    }

    button{
        padding: 10px 20px;
        width: 100px;
        height: 60px;
        margin-bottom: 20px;
        font-size: 26px;
        font-weight: bold;
        font-family: cursive;
        background: #000803;
        border: none;
        color: #219c29;
        border-radius: 6px;
        cursor: pointer;
    }
    button:hover{
        background: rgb(44, 109, 94);

    }
    